

html,
body,
#root {
    height: 100%;
    background-color: #F6F9FF !important;
    
}

*::-webkit-scrollbar {
    width: 6.78px;
    background-color: #E9EFF4 !important;
    border-radius: 25.42px;
}

*::-webkit-scrollbar-thumb {
    width: 6.78px;
    border-radius: 25.42px;
    background-color:rgba(90, 180, 169, 1)
}